@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Huawei & Patika.dev Cloud Practicum</h1>
    <img src="https://global-uploads.webflow.com/6097e0eca1e875de53031ff6/634e6a2bfe0453726bd6aa2a_huawei%20bc%20web%20(2).png" class="img-thumbnail" alt="Practicum">
</div>
